<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <%- include('./partials/_header') %>
  <main>
  <section class = "categories">
    <div class ="category-title">
      <h2>Snacks</h2>

    </div>
    <div class="category-main">
      <ul class="category-row">
        <% for (const food of myFoods) { %>
        <li class="category-item">
          <div class="category-item-img"><img src = <%= food.pic %>/></div>
          <div class="category-item-name"> <%= food.name %></div>
          <div class="category-item-descriptions"><%= food.description %></div>
          <div class="category-item-price">$<%= food.price %></div>
          <button id="test-orders">Add to cart</button>
          <ul id="users"></ul>
        </li>
        <% } %>
      </ul>
    </div>

  </section>
</main>

</body>

</html>
